.vertical {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	gap: 10px;
}
.horz {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}
.alignEnd {
	align-self: end;
}
html, body {
	background-color: #2c2c2c;
	color: white;
}
* {
	font-family:  sans-serif;
}
@font-face {
	font-family: "Splatoon 2";
	src: url("resources/font/splatoon1.otf");

}
